/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins to extend what Compass provides */
/* line 12, ../sass/screen.sass */
body {
  background: black;
  -webkit-animation: animate-background 6s linear;
  -moz-animation: animate-background 6s linear;
  -o-animation: animate-background 6s linear;
  -ms-animation: animate-background 6s linear;
  animation: animate-background 6s linear;
}

/* line 17, ../sass/screen.sass */
.zelda-container {
  width: 768px;
  height: 432px;
  margin: 100px auto;
  position: relative;
}

/* line 23, ../sass/screen.sass */
.background-holder {
  position: absolute;
  width: 768px;
  height: 432px;
  background: url(../images/bg.png);
  -webkit-animation: animate-background-picture 6s linear forwards;
  -moz-animation: animate-background-picture 6s linear forwards;
  -o-animation: animate-background-picture 6s linear forwards;
  -ms-animation: animate-background-picture 6s linear forwards;
  animation: animate-background-picture 6s linear forwards;
}

/* line 30, ../sass/screen.sass */
.zeldatext {
  position: absolute;
  top: 130px;
  left: 140px;
  width: 505px;
  height: 220px;
  -webkit-animation: showZeldaText 6.5s linear;
  -moz-animation: showZeldaText 6.5s linear;
  -o-animation: showZeldaText 6.5s linear;
  -ms-animation: showZeldaText 6.5s linear;
  animation: showZeldaText 6.5s linear;
}
/* line 38, ../sass/screen.sass */
.zeldatext h1 {
  top: 10px;
  font-size: 180px;
  font-family: "EB Garamond";
  padding-left: 80px;
  color: #8b3536;
  -webkit-text-fill-color: #b62f22;
  -moz-text-fill-color: #b62f22;
  -o-text-fill-color: #b62f22;
  -ms-text-fill-color: #b62f22;
  text-fill-color: #b62f22;
  -webkit-stroke-fill-color: #8b3536;
  -moz-stroke-fill-color: #8b3536;
  -o-stroke-fill-color: #8b3536;
  -ms-stroke-fill-color: #8b3536;
  stroke-fill-color: #8b3536;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -o-text-stroke-width: 2px;
  -ms-text-stroke-width: 2px;
  text-stroke-width: 2px;
  letter-spacing: -5px;
}
/* line 49, ../sass/screen.sass */
.zeldatext h1 sup {
  position: absolute;
  top: -50px;
  left: -80px;
  font-size: 280px;
}
/* line 55, ../sass/screen.sass */
.zeldatext h1 span.closer {
  letter-spacing: -28px;
}
/* line 58, ../sass/screen.sass */
.zeldatext h2, .zeldatext h3 {
  position: absolute;
  text-transform: uppercase;
  font-family: "Old Standard TT";
  color: #eeeeee;
  font-size: 40px;
  -webkit-text-fill-color: #eeeeee;
  -moz-text-fill-color: #eeeeee;
  -o-text-fill-color: #eeeeee;
  -ms-text-fill-color: #eeeeee;
  text-fill-color: #eeeeee;
  -webkit-stroke-fill-color: #8b3536;
  -moz-stroke-fill-color: #8b3536;
  -o-stroke-fill-color: #8b3536;
  -ms-stroke-fill-color: #8b3536;
  stroke-fill-color: #8b3536;
  -webkit-text-stroke-width: 0.2px;
  -moz-text-stroke-width: 0.2px;
  -o-text-stroke-width: 0.2px;
  -ms-text-stroke-width: 0.2px;
  text-stroke-width: 0.2px;
  text-shadow: 0 0 2px black;
}
/* line 69, ../sass/screen.sass */
.zeldatext h2 {
  top: -10px;
  left: 100px;
}
/* line 73, ../sass/screen.sass */
.zeldatext h3 {
  top: 170px;
  left: 100px;
  width: 500px;
}
/* line 78, ../sass/screen.sass */
.zeldatext h3 a {
  text-decoration: none;
  color: #eeeeee;
  -webkit-text-fill-color: #eeeeee;
  -moz-text-fill-color: #eeeeee;
  -o-text-fill-color: #eeeeee;
  -ms-text-fill-color: #eeeeee;
  text-fill-color: #eeeeee;
}

/* line 83, ../sass/screen.sass */
.stage {
  width: 300px;
  height: 300px;
  left: 220px;
  top: 50px;
  position: absolute;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 190px;
  -moz-perspective-origin: 50% 190px;
  -ms-perspective-origin: 50% 190px;
  -o-perspective-origin: 50% 190px;
  perspective-origin: 50% 190px;
}
/* line 92, ../sass/screen.sass */
.stage .triangle {
  position: absolute;
  top: 0;
  left: 75px;
  width: 150px;
  height: 150px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 75px 50%;
  -moz-transform-origin: 75px 50%;
  -ms-transform-origin: 75px 50%;
  -o-transform-origin: 75px 50%;
  transform-origin: 75px 50%;
}
/* line 101, ../sass/screen.sass */
.stage .triangle.one {
  -webkit-animation: rotate 5s infinite linear, introduce-1 5s linear;
  -moz-animation: rotate 5s infinite linear, introduce-1 5s linear;
  -o-animation: rotate 5s infinite linear, introduce-1 5s linear;
  -ms-animation: rotate 5s infinite linear, introduce-1 5s linear;
  animation: rotate 5s infinite linear, introduce-1 5s linear;
}
/* line 104, ../sass/screen.sass */
.stage .triangle.two {
  top: 150px;
  left: 0;
  -webkit-animation: rotate 5s infinite linear, introduce-2 5s linear;
  -moz-animation: rotate 5s infinite linear, introduce-2 5s linear;
  -o-animation: rotate 5s infinite linear, introduce-2 5s linear;
  -ms-animation: rotate 5s infinite linear, introduce-2 5s linear;
  animation: rotate 5s infinite linear, introduce-2 5s linear;
}
/* line 109, ../sass/screen.sass */
.stage .triangle.three {
  top: 150px;
  left: 150px;
  -webkit-animation: rotate 5s infinite linear, introduce-3 5s linear;
  -moz-animation: rotate 5s infinite linear, introduce-3 5s linear;
  -o-animation: rotate 5s infinite linear, introduce-3 5s linear;
  -ms-animation: rotate 5s infinite linear, introduce-3 5s linear;
  animation: rotate 5s infinite linear, introduce-3 5s linear;
}
/* line 114, ../sass/screen.sass */
.stage .triangle figure {
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 119, ../sass/screen.sass */
.stage .triangle figure.front {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #ffe403;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}
/* line 123, ../sass/screen.sass */
.stage .triangle figure.back {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #ffe403;
  -webkit-transform: rotateY(180deg) translateZ(20px);
  -moz-transform: rotateY(180deg) translateZ(20px);
  -ms-transform: rotateY(180deg) translateZ(20px);
  -o-transform: rotateY(180deg) translateZ(20px);
  transform: rotateY(180deg) translateZ(20px);
}
/* line 127, ../sass/screen.sass */
.stage .triangle figure.side1 {
  content: " ";
  display: block;
  position: absolute;
  height: 168px;
  width: 40px;
  background-color: #ffd200;
  -webkit-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  -moz-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  -ms-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  -o-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
}
/* line 136, ../sass/screen.sass */
.stage .triangle figure.side2 {
  content: " ";
  display: block;
  position: absolute;
  height: 168px;
  width: 40px;
  background-color: #ffd200;
  -webkit-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  -moz-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  -ms-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  -o-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
}
/* line 145, ../sass/screen.sass */
.stage .triangle figure.side3 {
  content: " ";
  background-color: #ffd200;
  width: 150px;
  height: 40px;
  -webkit-transform: translateY(130px) rotateX(-90deg);
  -moz-transform: translateY(130px) rotateX(-90deg);
  -ms-transform: translateY(130px) rotateX(-90deg);
  -o-transform: translateY(130px) rotateX(-90deg);
  transform: translateY(130px) rotateX(-90deg);
}

/* line 152, ../sass/screen.sass */
.madeby {
  text-align: center;
  margin-top: 200px;
  bottom: 20px;
  color: black;
  font-family: "EB Garamond";
}
/* line 158, ../sass/screen.sass */
.madeby a {
  color: black;
  text-decoration: none;
  opacity: 0.2;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
/* line 165, ../sass/screen.sass */
.madeby a:hover {
  opacity: 1;
}

@-webkit-keyframes rotate {
  /* line 169, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 171, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 169, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 171, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 169, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 171, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  /* line 169, ../sass/screen.sass */
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  /* line 171, ../sass/screen.sass */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes showZeldaText {
  /* line 175, ../sass/screen.sass */
  0%, 80% {
    -webkit-transform: scale(0.6) translateZ(-100px);
    -moz-transform: scale(0.6) translateZ(-100px);
    -ms-transform: scale(0.6) translateZ(-100px);
    -o-transform: scale(0.6) translateZ(-100px);
    transform: scale(0.6) translateZ(-100px);
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-moz-keyframes showZeldaText {
  /* line 175, ../sass/screen.sass */
  0%, 80% {
    -webkit-transform: scale(0.6) translateZ(-100px);
    -moz-transform: scale(0.6) translateZ(-100px);
    -ms-transform: scale(0.6) translateZ(-100px);
    -o-transform: scale(0.6) translateZ(-100px);
    transform: scale(0.6) translateZ(-100px);
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-ms-keyframes showZeldaText {
  /* line 175, ../sass/screen.sass */
  0%, 80% {
    -webkit-transform: scale(0.6) translateZ(-100px);
    -moz-transform: scale(0.6) translateZ(-100px);
    -ms-transform: scale(0.6) translateZ(-100px);
    -o-transform: scale(0.6) translateZ(-100px);
    transform: scale(0.6) translateZ(-100px);
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@keyframes showZeldaText {
  /* line 175, ../sass/screen.sass */
  0%, 80% {
    -webkit-transform: scale(0.6) translateZ(-100px);
    -moz-transform: scale(0.6) translateZ(-100px);
    -ms-transform: scale(0.6) translateZ(-100px);
    -o-transform: scale(0.6) translateZ(-100px);
    transform: scale(0.6) translateZ(-100px);
    opacity: 0;
  }

  /* line 178, ../sass/screen.sass */
  100% {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes introduce-1 {
  /* line 183, ../sass/screen.sass */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  45% {
    top: -100px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 190, ../sass/screen.sass */
  90%, 100% {
    top: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-moz-keyframes introduce-1 {
  /* line 183, ../sass/screen.sass */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  45% {
    top: -100px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 190, ../sass/screen.sass */
  90%, 100% {
    top: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-ms-keyframes introduce-1 {
  /* line 183, ../sass/screen.sass */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  45% {
    top: -100px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 190, ../sass/screen.sass */
  90%, 100% {
    top: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@keyframes introduce-1 {
  /* line 183, ../sass/screen.sass */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 186, ../sass/screen.sass */
  45% {
    top: -100px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 190, ../sass/screen.sass */
  90%, 100% {
    top: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-webkit-keyframes introduce-2 {
  /* line 195, ../sass/screen.sass */
  0% {
    left: -150px;
    top: 250px;
    opacity: 0;
  }

  /* line 199, ../sass/screen.sass */
  45% {
    left: -75px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 204, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-moz-keyframes introduce-2 {
  /* line 195, ../sass/screen.sass */
  0% {
    left: -150px;
    top: 250px;
    opacity: 0;
  }

  /* line 199, ../sass/screen.sass */
  45% {
    left: -75px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 204, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-ms-keyframes introduce-2 {
  /* line 195, ../sass/screen.sass */
  0% {
    left: -150px;
    top: 250px;
    opacity: 0;
  }

  /* line 199, ../sass/screen.sass */
  45% {
    left: -75px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 204, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@keyframes introduce-2 {
  /* line 195, ../sass/screen.sass */
  0% {
    left: -150px;
    top: 250px;
    opacity: 0;
  }

  /* line 199, ../sass/screen.sass */
  45% {
    left: -75px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 204, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 0;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-webkit-keyframes introduce-3 {
  /* line 210, ../sass/screen.sass */
  0% {
    left: 350px;
    top: 250px;
    opacity: 0;
  }

  /* line 214, ../sass/screen.sass */
  45% {
    left: 275px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 219, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 150px;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-moz-keyframes introduce-3 {
  /* line 210, ../sass/screen.sass */
  0% {
    left: 350px;
    top: 250px;
    opacity: 0;
  }

  /* line 214, ../sass/screen.sass */
  45% {
    left: 275px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 219, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 150px;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-ms-keyframes introduce-3 {
  /* line 210, ../sass/screen.sass */
  0% {
    left: 350px;
    top: 250px;
    opacity: 0;
  }

  /* line 214, ../sass/screen.sass */
  45% {
    left: 275px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 219, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 150px;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@keyframes introduce-3 {
  /* line 210, ../sass/screen.sass */
  0% {
    left: 350px;
    top: 250px;
    opacity: 0;
  }

  /* line 214, ../sass/screen.sass */
  45% {
    left: 275px;
    top: 200px;
    -webkit-transform: rotateY(180deg) rotateX(-180deg);
    -moz-transform: rotateY(180deg) rotateX(-180deg);
    -ms-transform: rotateY(180deg) rotateX(-180deg);
    -o-transform: rotateY(180deg) rotateX(-180deg);
    transform: rotateY(180deg) rotateX(-180deg);
    opacity: 1;
  }

  /* line 219, ../sass/screen.sass */
  90%, 100% {
    top: 150px;
    left: 150px;
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg);
  }
}

@-webkit-keyframes animate-background {
  /* line 225, ../sass/screen.sass */
  0% {
    background: black;
  }

  /* line 227, ../sass/screen.sass */
  83% {
    background: black;
  }

  /* line 229, ../sass/screen.sass */
  84% {
    background: white;
  }

  /* line 231, ../sass/screen.sass */
  87%, 100% {
    background: black;
  }
}

@-moz-keyframes animate-background {
  /* line 225, ../sass/screen.sass */
  0% {
    background: black;
  }

  /* line 227, ../sass/screen.sass */
  83% {
    background: black;
  }

  /* line 229, ../sass/screen.sass */
  84% {
    background: white;
  }

  /* line 231, ../sass/screen.sass */
  87%, 100% {
    background: black;
  }
}

@-ms-keyframes animate-background {
  /* line 225, ../sass/screen.sass */
  0% {
    background: black;
  }

  /* line 227, ../sass/screen.sass */
  83% {
    background: black;
  }

  /* line 229, ../sass/screen.sass */
  84% {
    background: white;
  }

  /* line 231, ../sass/screen.sass */
  87%, 100% {
    background: black;
  }
}

@keyframes animate-background {
  /* line 225, ../sass/screen.sass */
  0% {
    background: black;
  }

  /* line 227, ../sass/screen.sass */
  83% {
    background: black;
  }

  /* line 229, ../sass/screen.sass */
  84% {
    background: white;
  }

  /* line 231, ../sass/screen.sass */
  87%, 100% {
    background: black;
  }
}

@-webkit-keyframes animate-background-picture {
  /* line 235, ../sass/screen.sass */
  0%,86% {
    opacity: 0;
  }

  /* line 237, ../sass/screen.sass */
  86.01%, 100% {
    opacity: 1;
  }
}

@-moz-keyframes animate-background-picture {
  /* line 235, ../sass/screen.sass */
  0%,86% {
    opacity: 0;
  }

  /* line 237, ../sass/screen.sass */
  86.01%, 100% {
    opacity: 1;
  }
}

@-ms-keyframes animate-background-picture {
  /* line 235, ../sass/screen.sass */
  0%,86% {
    opacity: 0;
  }

  /* line 237, ../sass/screen.sass */
  86.01%, 100% {
    opacity: 1;
  }
}

@keyframes animate-background-picture {
  /* line 235, ../sass/screen.sass */
  0%,86% {
    opacity: 0;
  }

  /* line 237, ../sass/screen.sass */
  86.01%, 100% {
    opacity: 1;
  }
}
